<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home Page</title>
</head>
<body>
    {% comment %} {% if posts %}
    <h1> All posts available </h1>
         <h1> Welcome - {{posts}}</h1> 
        {% for  post in posts %} 
            <a href= ""> <h1>{{post.title}}</h1> </a>
            <p>{{post.content}} </p>
        {% endfor %}

    {% else %}
    <h1> No post available </h1>
    {% endif %}
    {% endcomment %}
    <h1>Welcome {{username| capfirst}} </h1>
    {% for  post in posts %} 
        {{forloop.counter}}
        <a href= "/post/{{post.id}}/"> <h1>{{forloop.counter}} - {{post.title}}</h1> </a>
        <p>{{post.content | truncatewords:5}} </p>
        {% empty %}
        <h1> No post available </h1>
    {% endfor %}


    {% comment %} <h1> Welcome - {{posts}}</h1> {% endcomment %}

</body>
</html>
