
    {% extends "base.html" %}
    {% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'posts/home.css' %}">
{% endblock css %} 
  
    {%block js%}<script src="{% static 'js/home.js'%}"defer></script> {%endblock js%}

    {% block pagetitle %}
        Home Page
    {% endblock pagetitle %}
    
    {% block body %}
        <h1>Welcome {{ username|capfirst }}</h1>
        

        <p>Your one-stop platform for aluminium industry insights in Bangladesh.</p>
        
    {% endblock body %}
    





